$primary-color: #2330c4;
$white-color: #FFFFFF;
$hover-color: #2f40ff;;

$spacing-unit: 16px;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit;
  background-color: $primary-color;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.15);

  h3 {
    color: $white-color;
    font-weight: 300;
  }

  .links {
    display: flex;
    color: $white-color;
    gap: $spacing-unit;

    a {
      color: $white-color;
      text-decoration: none;
      font-weight: 300;
      transition: color 0.2s ease;

      &:hover {
        padding: 0.2rem;
        border-radius: 5px;
        background-color: $hover-color;
      }
    }
  }
}
