.item {
    // display: flex;
    height: 100vh;
    width: 100vw;
    // align-items: center;
    // justify-content: center;
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .title {

    }
}